# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Log files
logs/
*.log

# Data and Model files (optional, but recommended if large)
data/
models/
*.csv
*.parquet
*.pkl
*.json

/.env
# Python
venv/
script_env/

# IDE & OS files
.idea/
.DS_Store

# Data, Models, Logs, and Reports
# These should be stored on Google Drive, not in Git.

reports/
*.txt
*.xlsx

# Temp files created by some editors
*~
*.backup_*

# --- Exceptions ---
# We explicitly want to KEEP these files in Git.
!requirements.txt
!nasdaq_stocks.csv